/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

body{
  background-color: #00b33c;
}

.wrapper{
  width: 900px;
  margin: 0 auto;
}

h1 {
  font-family: monospace;
  color: lightgreen;
  text-align: center;
  line-height: 24px;
}

h2 {
  font-family: arial;
  text-align: left;
  line-height: 32px;
  color: white;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}

input {
    border: 2px solid #ccc;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Lato';
    padding: 10px;
    box-sizing: border-box;
}

form {
    margin: 25px auto;
    padding: 20px;
    border: 5px solid #000000;
    width: 700px;
    background: #ccfcef;
    border-radius: 15px;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  body {
      margin: 50px auto;
      text-align: center;
      width: 800px;
      background-image: url("img/green-spiral-background-4.jpg");
  }

  h1 {
      font-family: 'Comic Sans MS';
      font-size: 4rem;
      text-transform: uppercase;
      background-color: #f4f7d2;
      border-radius: 12px;
  }

  label {
      width: 500px;
      display: inline-block;
      text-align: left;
      font-size: 1.5rem;
      font-family: 'Comic Sans MS';
  }

  input {
      border: 2px solid #ccc;
      font-size: 1.5rem;
      font-weight: 100;
      font-family: 'Lato';
      padding: 10px;
      box-sizing: border-box;
  }

  form {
      margin: 25px auto;
      padding: 20px;
      border: 5px solid #000000;
      width: 700px;
      background: #ccfcef;
      border-radius: 15px;
  }

  div.form-element {
      margin: 20px 0;
  }

  button {
      padding: 10px;
      font-size: 1.5rem;
      font-family: 'Lato';
      font-weight: 100;
      background: yellowgreen;
      color: black;
      border-radius: 8px;
  }

  p.success,
  p.error {
      color: white;
      font-family: lato;
      background: yellowgreen;
      display: inline-block;
      padding: 2px 10px;
  }

  p.error {
      background: orangered;
  }

  p{
    color: white;
  }
